include setup.py
include distribute_setup.py
include waskr/tests/*
include docs/*
include waskr/web/static/*
include waskr/web/views/*
recursive-include waskr/web/static *
recursive-include waskr/web/views *

